## .NET MAUI / Visual Studio

# Build outputs
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# OS
.DS_Store
Thumbs.db

# Rider
.idea/

# Test results
TestResults/
